:root{
  --dubCity-blue: rgb(53, 101, 244);
}

body {
  font-family: 'Rubik', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik Mono One', sans-serif;
}

.logo {
  max-height: 120px;
  max-width: 120px;
  margin: 5px;
}
.small {
  font-weight: 300;
  font-style: italic;
}

.navbar-container {
  background-color: black;
}

.navbar-element {
  color: white;
}

.avatarImage {
  max-width: 50px;
  max-height: 50px;
  display: flex;
};

.mb-3 {
  display: flex;
  flex-wrap: wrap;
}

.nav-bottom {
 width: 100%;
 height: 5px;
}

#nav-bottom-1 {
  background-color: rgb(170, 244, 246);
}

#nav-bottom-2 {
  background-color: rgb(255, 253, 162);
}

#nav-bottom-3 {
  background-color: var(--dubCity-blue);
}

.carousel-inner {
  padding: 10px 0;
  background: linear-gradient(black, white);
}

/* About Page */

.about-header{
  width: 60vw;
  margin: 2vh auto;
  background: linear-gradient(black, var(--dubCity-blue));
}

.about-header h1{
  color: white;
  text-shadow: 1px 1px black;
  text-align: center;
  font-size: 60px;
}

.about-body{
  background: linear-gradient(var(--dubCity-blue), black);
  color: white;
  height: 45vh
}

/* User Page */
.user-header{
  width: 60vw;
  margin: 2vh auto;
  background: linear-gradient(black, var(--dubCity-blue));
  position: relative;
}

.user-header h1{
  color: white;
  text-shadow: 1px 1px black;
  text-align: left;
  font-size: 2vh;
  overflow: auto;
}

.userAvatar {
  border-radius: 50%;
}

.user-body{
  background: linear-gradient(var(--dubCity-blue), black);
  color: white;
  height: 45vh;
}

.user-body img{
  max-width: 30vw;
  max-height: 30vh;
  margin: 20px auto;
  display: block;
}

.user-body button{
  margin: 20px auto;
  display: block;
}

.footer-container {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -110px;
  width: 100%;
  display: flex;
  background-color: black;
}

footer {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}

footer a {
  margin: auto;
}

.footerBottom, .push {
  height: 110px;
}

.navActive {
  color: var(--dubCity-blue);
}